{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 160,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSameLine": false,
  "singleAttributePerLine": false,
  "embeddedLanguageFormatting": "auto",
  "arrowParens": "always"
}
