apiVersion: apps/v1
kind: Deployment
metadata:
  name: DEPLOYMENT_NAME
  namespace: NAMESPACE
  labels:
    app: PROJECT
spec:
  selector:
    matchLabels:
      project: PROJECT
  template:
    metadata:
      namespace: NAMESPACE
      labels:
        project: PROJECT
    spec:
      containers:
         - name: PROJECT
           image: REGISTRY_HOSTNAME/PROJECT:TAG_VERSION
           ports:
             - containerPort: PORT_CONTAINER

           env:
             - name: TCP_HOST
               valueFrom:
                 secretKeyRef:
                   name: ulens-backend-auth-production-config-secret
                   key: TCP_HOST
             - name: POSTGRES_URL
               valueFrom:
                 secretKeyRef:
                   name: ulens-backend-auth-production-config-secret
                   key: POSTGRES_URL
             - name: REFRESH_SECRET_KEY
               valueFrom:
                 secretKeyRef:
                   name: ulens-backend-auth-production-config-secret
                   key: REFRESH_SECRET_KEY
             - name: REFRESH_EXPIRES_IN
               valueFrom:
                 secretKeyRef:
                   name: ulens-backend-auth-production-config-secret
                   key: REFRESH_EXPIRES_IN
             - name: TCP_PORT
               valueFrom:
                 secretKeyRef:
                   name: ulens-backend-auth-production-config-secret
                   key: TCP_PORT