apiVersion: apps/v1
kind: Deployment
metadata:
  name: DEPLOYMENT_NAME
  namespace: NAMESPACE
  labels:
    app: PROJECT
spec:
  selector:
    matchLabels:
      project: PROJECT
  template:
    metadata:
      namespace: NAMESPACE
      labels:
        project: PROJECT
    spec:
      containers:
         - name: PROJECT
           image: REGISTRY_HOSTNAME/PROJECT:TAG_VERSION
           ports:
             - containerPort: PORT_CONTAINER
           env:
             - name: NOTIFICATIONS_TCP_PORT
               valueFrom:
                 secretKeyRef:
                   name: ulens-backend-messenger-production-config-secret
                   key: NOTIFICATIONS_TCP_PORT
             - name: RMQ_URL
               valueFrom:
                 secretKeyRef:
                   name: ulens-backend-messenger-production-config-secret
                   key: RMQ_URL
             - name: MESSENGER_TCP_HOST
               valueFrom:
                 secretKeyRef:
                   name: ulens-backend-messenger-production-config-secret
                   key: MESSENGER_TCP_HOST
