apiVersion: apps/v1
kind: Deployment
metadata:
  name: DEPLOYMENT_NAME
  namespace: NAMESPACE
  labels:
    app: PROJECT
spec:
  selector:
    matchLabels:
      project: PROJECT
  template:
    metadata:
      namespace: NAMESPACE
      labels:
        project: PROJECT
    spec:
      containers:
         - name: PROJECT
           image: REGISTRY_HOSTNAME/PROJECT:TAG_VERSION
           ports:
             - containerPort: PORT_CONTAINER

           env:
             - name: MAIN_TCP_PORT
               valueFrom:
                 secretKeyRef:
                   name: ulens-backend-main-production-config-secret
                   key: MAIN_TCP_PORT
             - name: MAIN_POSTGRES_URL
               valueFrom:
                 secretKeyRef:
                   name: ulens-backend-main-production-config-secret
                   key: MAIN_POSTGRES_URL
             - name: RMQ_URL
               valueFrom:
                 secretKeyRef:
                   name: ulens-backend-main-production-config-secret
                   key: RMQ_URL
             - name: MAIN_TCP_HOST
               valueFrom:
                 secretKeyRef:
                   name: ulens-backend-main-production-config-secret
                   key: MAIN_TCP_HOST