apiVersion: apps/v1
kind: Deployment
metadata:
  name: DEPLOYMENT_NAME
  namespace: NAMESPACE
  labels:
    app: PROJECT
spec:
  selector:
    matchLabels:
      project: PROJECT
  ports:
      - name: postgres
        protocol: TCP
        port: PORT_CONTAINER
        targetPort: 5432
  template:
    metadata:
      namespace: NAMESPACE
      labels:
        project: PROJECT
    spec:
      containers:
         - name: PROJECT
           image: REGISTRY_HOSTNAME/PROJECT:TAG_VERSION
           ports:
             - containerPort: PORT_CONTAINER

           env:
             - name: POSTGRES_USER
               valueFrom:
                 secretKeyRef:
                   name: ulens-backend-postgres-production-config-secret
                   key: POSTGRES_USER
             - name: POSTGRES_PASSWORD
               valueFrom:
                 secretKeyRef:
                   name: ulens-backend-postgres-production-config-secret
                   key: POSTGRES_PASSWORD
             - name: POSTGRES_DB
               valueFrom:
                 secretKeyRef:
                   name: ulens-backend-postgres-production-config-secret
                   key: POSTGRES_DB
             - name: PORT
               valueFrom:
                 secretKeyRef:
                   name: ulens-backend-postgres-production-config-secret
                   key: PORT